.hello {
    width: 500px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: darkred;
    text-align: center;
    color: white;
    /*font-size: 3em;*/
    /*border-top: darkred;*/
    /*border-bottom: darkred;*/
}

.hello .hello-header {
    background-color: darkred;
    font-family: Tahoma;
}

.hello .hello-body {
    font-family: cursive;
    font-size: 5em;
    background-color: white;
    height: 160px;
    color: darkslateblue;

}

h1 {
    text-transform: uppercase;
    font-size: 3.8em;
    margin-bottom: 0em;
    margin-top: 0.2em;
}

p {
    text-transform: lowercase;
    margin-top: 0em;

}