.menu {
    list-style: none;
}

.menu .menuitem {
    display:inline;
    font-size: 1.3em;
    background-color: lightgrey;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid black;
    opacity: 0.5;
    transition-property: background-color, border-bottom, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu .menuitem:hover {
    background-color: lightblue;
    border-bottom: 1px solid red;
    opacity: 1.0;
}